[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-cognitive-engineering.git
[submodule "apps/qtcloud-think"]
	path = apps/qtcloud-think
	url = https://github.com/quanttide/qtcloud-think.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-cognitive-engineering.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-cognitive-engineering.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-cognitive-engineering.git
[submodule "data/archive"]
	path = data/archive
	url = https://github.com/quanttide/quanttide-archive-of-cognitive-engineering.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-cognitive-engineering.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-cognitive-engineering.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-cognitive-engineering.git
