[submodule "docs/journal"]
	path = docs/journal
	url = https://github.com/quanttide/quanttide-journal-of-cognitive-engineering
[submodule "apps/qtcloud-think"]
	path = apps/qtcloud-think
	url = https://github.com/quanttide/qtcloud-think
