[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-cognitive-engineering.git
[submodule "apps/qtcloud-think"]
	path = apps/qtcloud-think
	url = https://github.com/quanttide/qtcloud-think.git
[submodule "docs/journal"]
	path = docs/journal
	url = https://github.com/quanttide/quanttide-journal-of-cognitive-engineering.git
[submodule "docs/profile"]
	path = docs/profile
	url = https://github.com/quanttide/quanttide-profile-of-cognitive-engineering.git
[submodule "docs/archive"]
	path = docs/archive
	url = https://github.com/quanttide/quanttide-archive-of-cognitive-engineering.git
